main.mainStyle {
    /* border: 5px solid yellow; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #11001E;
}
main header .imageDiv {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    padding-left: 76px;
    color: #ffff;
    border: 3px solid lime;
}

main header.imageDiv img {
    width: 98px;
    height: 98px;
    align-self: flex-start;
}
 header.navStyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 5px solid red; */
 } 

 .navStyle{
    /* border: 5px solid blue; */
    background-color: #11001E;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
 }
 .listStyle{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: #ffff;
    /* border: 3px solid rgb(43, 255, 0); */
}
.navIcons{
    color: #ffff;
    display: flex;
    justify-content: space-around;
    width: 6%;
    font-size: 25px;
}

.homePageMain {
    background-color: #41334B;
    width: 100%;
}
.homePageMain div{
    background-color: #11001E;
}
.homePageMain .frameButtonDiv{
    /* border: 5px solid red; */
    height: 70px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    background-color: #41334B;
    width: 100%;
}

.frameButtonDiv button{
    /* border: 5px solid pink; */
    cursor: pointer;
    width: 102px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #11001E;
}

section.onboarding{
    background-color: #11001E;
}
.mediaButtonDiv{
    /* border: 5px solid red; */
    height: 50px;
    width: 55rem;
    display: flex;
    gap: 2px;
    justify-content: flex-end;
    align-self: center;
}

.mediaSection{
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.mediah1pDiv{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mediah1pDiv p{
    color: #B5AEB5;
}

.mediaButtonDiv button{
    border: 1px solid #605468;
    cursor: pointer;
    width: 105px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

button.mediaDoneButton{
    background: linear-gradient(#6736A6, #C83CD4);
}
.frameDivs{
    background-color: #11001E;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.frameDiv a{
    color: #FF604B;
}

button.movieButton{
    background: linear-gradient(#A85AFF, #E14EFF )
}

.frameDiv{
    /* border: 5px solid yellow; */
    width: 100%;
    color: white;
    font-size: 30px;
}
.frameDiv img {
    width: 290px;
}
.frameDiv div{
    /* border: 5px solid pink; */
    display: flex;
    justify-content: space-between;
}

.frameDiv p{
    /* border: 5px solid green; */
    width: 95%;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* border: 5px solid peru; */
}
.formWrapper form{
    display: flex;
    flex-direction: column;
    /* border: 5px solid pink; */
    align-items: center;
    justify-content: center;
    width: 628px;
    gap: 30px;
}

.topheading h2 {   
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
}

.topheading p {
    font-size: 16px;
    font-weight: 80;
    color: #B5AEB5;
}

.emailHeading{
    /* border: 5px solid red; */
    margin-top: 30px;
    color: #B5AEB5;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.formContainer {
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.p3 {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 20px;
    font-size: 12px;
}
.p3child {
    color: rgb(247, 7, 247);
}
.passwordEye img{
    position: fixed;
    right: 26%;
    top: 63%;
}
#forgotPassword {
    /* border: 5px solid red; */
    color: #FF604B;
    font-size: 12px;
    font-weight: 200;
    line-height: 16px;
    display: flex;
    justify-content: right;
}
.emailMain {
    background-color: #41334B;
    /* border: 5px solid orange; */
    width: 100%;
    height: 100vh;
  }
  
  .verify-container{
    /* border: 5px solid red; */
    width: 40%;
    margin: auto;
    background-color: #11001E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 100px;
  }

  .verify-container2 {
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    /* gap: 1rem; */
  }

  .ForgotPassword-container2{
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 95%;
    gap: 10px;
    height: 70%;
  }

  .ForgotPassword-container{
    width: 40%;
    margin: auto;
    gap: 10px;
    background-color: #11001E;
    display: flex;
    flex-direction: column;
    height: 60%;
  }
  
  .vector {
    /* border: 5px solid red; */
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
    cursor: pointer;
  }

  .div1{
    /* border: 5px solid rgb(180, 247, 65); */
    gap: 10px;
    width: 95%;
    /* height: 20px; */
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
.div1 p{
    width: 80%;
    text-align: center;
}
  .img1 {
    /* border: 5px solid red; */
    margin-left: 1px;
    display: flex;
    margin-top: 0;
    margin-left: 4rem;
    align-self: flex-start;
    width: 5rem;
  }

  .navLink {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--Media-Hub-colour-Text-text--50, #fffeff);
    text-decoration: none;
  }
  
  .navLink:hover,
  .navLink:focus {
    color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
  }
  
  .active {
    color: var(--Media-Hub-colour-primary-primary-300, #b66dff);
    font-weight: 700;
  }
  .sectionFlex{
    overflow-y: scroll;
    overflow-x: scroll;
    background-color: #11001E;
  }
