/* ____________LandingPage_________ */

.navButton{
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 8px;
  }
  .navButton Button{
    width: 116px;
    height: 56px;
    /* border: 5px solid blue; */
  }
.navButton .Button1 {
    background: #11001E;
  }

  /* ____________ProfilePage_________ */

.profileHeading {
  /* border: 3px solid goldenrod; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  width: 75%;
  gap: 30px;
  color: #ffff;
}
.profileHeading .section1 {
  display: flex;
  align-items: center;
  width: 60%;

}
.profileHeading .profileIcon {
  width: 100px;
  height: 100px;
}
.profileHeading1 {
  /* border: 3px solid red; */
  width: 100%;
}

.profileHeading1B {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; 
  width: 85%; 
}

.profileHeading2{
  /* border: 3px solid greenyellow; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.profileHeading2 span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileHeading2A{
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.profileHeading2A .section1 {
  gap: 10px;
}
.profileHeading2A .section1 p{
  color: grey;
  width: 700px;
}
.profileHeading2A .profileIcon {
  color: orange;
}
.profileHeading2A Button {
  width: 25%;
}
.ProfileDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
  gap: 30px;
  margin-top: 50px;
  color: #ffff;
  background: #0C0015;
  padding: 50px;
}
.ProfileDetails1{
  /* border: 3px solid yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 70%;
}

.premiumButton {
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  width: 10%;
}
