/* ____________LandingPage_________ */

.navButton{
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    width: 250px;
    gap: 8px;
  }
  .navButton Button{
    width: 116px;
    height: 56px;
    /* border: 5px solid blue; */
  }
.navButton .Button1 {
    background: #11001E;
  }
